<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">{{ site_brand }}</a>
      <button 
          class="navbar-toggler" 
          type="button" 
          data-bs-toggle="collapse" 
          data-bs-target="#navbarSupportedContent" 
          aria-controls="navbarSupportedContent" 
          aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">

          {% for name, menu in menues.items %}
          <li class="nav-item {% if menu.subitems %}dropdown{% endif %}">
            <a 
                class="
                    nav-link
                    {% if menu.active %}active{% endif %}
                    {% if menu.subitems %}dropdown-toggle{% endif %}
                    {% if menu.disabled %}disabled{% endif %}
                    "
                aria-current="page"
                href="{{ menu.link }}"
                {% if menu.subitems %} role="button" data-bs-toggle="dropdown" aria-expanded="false" {% endif %}
            >
                {{ menu.titulo }}
            </a>
            {% if menu.subitems %}
            <ul class="dropdown-menu">
              {% for name2, subitem in menu.subitems.items %}
                {% if subitem.titulo == '-' %}
                <li><hr class="dropdown-divider"></li>
                {% else %}
                <li>
                  <a 
                    class="dropdown-item {% if subitem.disabled %}disabled{% endif %}" 
                    href="{{ subitem.link }}"
                  >{{ subitem.titulo }}</a>
                </li>
                {% endif %}
              {% endfor %}
            </ul>
            {% endif %}
          </li>
          {% endfor %}

        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Buscar">
          <button class="btn btn-outline-success" type="submit">Buscar</button>
        </form>
      </div>
    </div>
  </nav>