{% extends "base.html" %}
{% load static %}

{% block site_headers %}
<link href="{% static 'aulas/css/aula-form.css' %}" rel="stylesheet">
{% endblock %}

{% block site_content %}

<h1>Editar Aula</h1>
<form method="post" enctype="multipart/form-data">
	{% csrf_token %}
	{{ form.as_p }}

	<!-- Si hay características en el aula,  se deben mostrarlas aquí -->
	<!-- debe permitir agegar o quitar caracteristicas-->
	<div id="carcateristicas-edit-aula">
	<h6>Caracteristicas</h6>

	{{ caracteristicas_formset.management_form }}
	{% for form in caracteristicas_formset %}

		{% if form.errors %}
			<div class="alert alert-danger" role="alert">
				<strong>Oops!</strong> Algo salio mal.
				<ul>
					{% for field in form %}
						{% for error in field.errors %}
							<li><b>{{ field.label }}</b>: {{ error }}</li>
						{% endfor %}
					{% endfor %}
				</ul>
			</div>
		{% endif %}

		{{ form.as_p }}

	{% endfor %}

	</div>

	<div id="foto-aula-edit">
	<h6>Foto</h6>
    <!-- Render photo forms -->
	{{ fotos_formset.management_form }}
	{% for form in fotos_formset %}

	{% if form.errors %}
		<div class="alert alert-danger" role="alert">
			<strong>Oops!</strong> Algo salio mal.
			<ul>
				{% for field in form %}
					{% for error in field.errors %}
						<li><b>{{ field.label }}</b>: {{ error }}</li>
					{% endfor %}
				{% endfor %}
			</ul>
		</div>
	{% endif %}

	{{ form.as_p }}

	{% endfor %}

	</div>

	<button type="submit" class="btn btn-primary">Guardar</button>
	<a role="button" class="btn btn-warning" href="{% url 'aula_detail' aula.pk %}">Cancelar</a>
</form>


{% endblock %}
