
{% extends "base.html" %}

{% block site_content %}
    <h1>Agregar Aula</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        {{ formset.management_form }}
        {% for form in formset %}
          {{ form.as_p }}
          <label for="{{ form.disponible.id_for_label }}">Se debe pedir:</label>
          {{ form.disponible }}
          <label for="{{ form.se_debe_pedir.id_for_label }}">Se debe pedir:</label>
          {{ form.se_debe_pedir }}
          <br>
        {% endfor %}
        <input type="submit" value="Grabar">
      </form>
{% endblock %}
