{% extends "base.html" %}
{% load static %}

{% block site_headers %}
<link href="{% static 'aulas/css/main.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
{% for aula in aulas %}
    <div class="card bg-dark text-white">
        <div class="card-body">
        <h5 class="card-title">{{ aula.nombre }}</h5>
        
        <p class="card-text">
            {% if aula.primera_foto %}
            <img class='aula-img-list' src="{{ aula.primera_foto.foto.url }}" class="card-img-top" alt="Foto aula {{ aula.nombre }}">
            {% endif %}
            <table class="table-list">   
                <ul>
                    <li>Nombre: {{ aula.nombre }}</li>
                    <li>Institucion: {{ aula.institucion.nombre }}</li>
                    {% if aula.capacidad_alumnos %}
                    <li>Capacidad alumnos: {{ aula.capacidad_alumnos }}</li>
                    {% endif %}
                    <li>Descripcion: {{ aula.descripcion }}</li>
                </ul>
            </table>
        </p>
        <a href="{% url 'aula_detail' aula.id %}" class="card-link">Ver detalles</a>
        </div>
    </div>
{% endfor %}

{% endblock %}
