{% extends "base.html" %}
{% load static %}

{% block site_headers %}
<link href="{% static 'instituciones/css/instituciones.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
{% for institucion in lista %}
    <div class="card bg-dark text-white">
        <div class="card-body">
            <h5 class="card-title">{{ institucion.nombre }}</h5>

            {% if institucion.logo %}
                <div class="institucion-logo">
                    <img src="{{ institucion.logo.url }}" alt="Logo de {{ institucion.nombre }}">
                </div>
            {% endif %}

            <h6 class="card-subtitle mb-2 text-muted">
                <br/>
                {% if institucion.site %}
                <div class="text-white">
                    Sitio: {{ institucion.site }}
                </div>
                {% endif %}
            </h6>

            <p class="card-text">
                {% if institucion.fotos.all %}
                    <div class="institucion-fotos">
                        {% for foto in institucion.fotos.all %}
                            <img src="{{ foto.foto.url }}" alt="Foto de {{ institucion.nombre }}">
                        {% endfor %}
                    </div>
                {% endif %}
            </p>
            <a href="{% url 'institucion_detail' institucion.id %}" class="card-link">Ver detalles</a>
        </div>
    </div>
{% endfor %}
{% endblock %}
