{% extends "base.html" %}
{% load static %}

{% block site_headers %}

{% endblock %}

{% block content %}
    <h1>Agregar Institucion</h1>
    <form method="post" action="" enctype="multipart/form-data">
        {% csrf_token %}
         <!-- Show form errors -->

        {% if form.errors %}
         <div class="alert alert-danger" role="alert">
             <strong>Oops!</strong> Algo salio mal.
             <ul>
                 {% for field in form %}
                     {% for error in field.errors %}
                         <li><b>{{ field.name }}</b>: {{ error }}</li>
                     {% endfor %}
                 {% endfor %}
             </ul>
         </div>
        {% endif %}
        <div>
            {{ form.nombre.label_tag }} {{ form.nombre }}
            <br>
            {{ form.logo.label_tag }} {{ form.logo }}
        </div>
        <div>
        {{ formset_fotos.management_form }}
        {% for form_foto in formset_fotos %}
            {{ form_foto.foto.label_tag }} {{ form_foto.foto }}
            <br>
            {{ form_foto.orden.label_tag }} {{ form_foto.orden }}
            <br>
            {{ form_foto.descripcion.label_tag }} {{ form_foto.descripcion }}
            {% if form_foto.errors %}
            <br>
            <div class="alert alert-danger" role="alert">
                <strong>Oops!</strong> Algo salio mal.
                <ul>
                    {% for field in form_foto %}
                        {% for error in field.errors %}
                            <li><b>{{ field.name }}</b>: {{ error }}</li>
                        {% endfor %}
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
        {% endfor %}
        </div>
        <button class="btn btn-primary" type="submit">Guardar</button>
    </form>
{% endblock %}
