{% extends "base.html" %}
{% load static %}

{% block site_headers %}

{% endblock %}

{% block site_content %}
    <h1>Agregar Institucion</h1>
    <form method="post" action="" enctype="multipart/form-data">
        {% csrf_token %}
         <!-- Show form errors -->

        {% if form.errors %}
         <div class="alert alert-danger" role="alert">
             <strong>Oops!</strong> Algo salio mal.
             <ul>
                 {% for field in form %}
                     {% for error in field.errors %}
                         <li>{{ error }}</li>
                     {% endfor %}
                 {% endfor %}
             </ul>
         </div>
        {% endif %}
        <div>
            {{ form.nombre.label_tag }} {{ form.nombre }}
            <br>
            {{ form.logo.label_tag }} {{ form.logo }}
        </div>
        {{ formset_fotos.management_form }}
        {% for form in formset_fotos %}
            {% if form.errors %}
            <div class="alert alert-danger" role="alert">
                <strong>Oops!</strong> Algo salio mal.
                <ul>
                    {% for field in form %}
                        {% for error in field.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
            <br>
            {{ form.foto.label_tag }} {{ form.foto }}
            <br>
            {{ form.orden.label_tag }} {{ form.orden }}
            <br>
            {{ form.descripcion.label_tag }} {{ form.descripcion }}
        {% endfor %}
        <button class="btn btn-primary" type="submit">Guardar</button>
    </form>
{% endblock %}
