{% extends "sitio/base.html" %}
{% load static %}


{% block site_content %}
<div class="container">
    <div class="row mt-5">
        <div class="col-md-12">
            <h1>User searches</h1>
            
            <form method="GET">
                <label for="user-filter">Filter by user:</label>
                <select id="user-filter" class="selectpicker" data-size="200px" name="user" >
                    <option value="">All users</option>
                    {% for user in users %}
                        <option 
                            value="{{ user.username }}" 
                            {% if filtered_user == user %}selected{% endif %}
                        >
                          {{ user.username }} {{ user.first_name }} {{ user.last_name }}
                        </option>
                    {% endfor %}
                </select>
                <button class="btn btn-info float-left" type="submit">Filter</button>
            </form>
            
            <table class="table text-white" >
                <thead>
                    <tr>
                        <th scope="col">User Name</th>
                        <th scope="col">Search term</th>
                        <th scope="col">Timestamp</th>
                    </tr>
                </thead>
                <tbody>
                    {% for us in user_searches %}
                        <tr>
                            <td>{{ us.clasdrom_user.user.get_full_name }}</td>
                            <td>{{ us.generic_text1 }}</td>
                            <td>{{ us.created_at }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
            </table>
        </div>
        <div class="pagination">
            {% if user_searches.has_previous %}
                <a role="button" href="?page=1{% if filtered_user %}&user={{ filtered_user }}{% endif %}" class="page-link">&laquo; first</a>
                <a role="button" href="?page={{ user_searches.previous_page_number }}{% if filtered_user %}&user={{ filtered_user }}{% endif %}" class="page-link">previous</a>
            {% endif %}
        
            {% for page_number in user_searches.paginator.page_range %}
                {% if user_searches.number == page_number %}
                    <span class="current-page page-link">{{ page_number }}</span>
                {% else %}
                    <a role="button" href="?page={{ page_number }}{% if filtered_user %}&user={{ filtered_user }}{% endif %}" class="page-link">{{ page_number }}</a>
                {% endif %}
            {% endfor %}
        
            {% if user_searches.has_next %}
                <a role="button" href="?page={{ user_searches.next_page_number }}{% if filtered_user %}&user={{ filtered_user }}{% endif %}" class="page-link">next</a>
                <a role="button" href="?page={{ user_searches.paginator.num_pages }}{% if filtered_user %}&user={{ filtered_user }}{% endif %}" class="page-link">last &raquo;</a>
            {% endif %}
        </div>
    </div>
</div>            
{% endblock %}
